<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings file="global.config">
        <add key="DatabaseHostName" value=""/>
        <add key="DatabasePort" value=""/>
        <add key="DatabaseUsername" value=""/>
        <add key="DatabasePassword" value=""/>
    </appSettings>
</configuration>